<div class="boxes-wrapper">
    <div class="pretty-box">
        <h2>Welcome to <span class="brand">Spoon Library</span></h2>
        <%= link_to  "Go to Store", store_index_path %>
    </div>
</div>