<div class="col-sm-6 col-xs-12 col-sm-offset-3">
  <div class="notification-box">
    <h2>Success Registration</h2>
    <div class="content">
        <p>Thanks,</p>
        <p>Your request to be a member of our store has been successfully received</p>
        <p>We will notify you soon on the approuval</p>
    </div>
  </div>
</div>

