<div class="categories-nav">
    <% @categories.each do  |category| %>
        <a class="btn btn-default"><%= category.name %></a>

    <% end %>
</div>

<div class="books-container">
    <% @books.each do |book| %>
        <div class="book-box">
            <div class="box-image">
                <%= image_tag book.cover_image_url(:thumbnail) %>
            </div>
            <div class="box-content">
                <h3><%= book.name %></h3>
                <div class="description">
                    <%= book.description.truncate(120)  %>
                </div>
                <a class="more" href="#">View more</a>
            </div>
        </div>
    <% end %>
</div>